/* Navbar CSS */
#list-responsive {
    display: none;
}
.active {
    font-weight: bold;
    color: #243B3B;
}
@media screen and (max-width: 768px) {
    #list-responsive {
        display: block;
    }
    #desktop-menu {
        display: none;
    }
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* pastikan navbar di atas elemen lain */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* opsional: tambahkan bayangan */
}

#mobile-menu {
    position: fixed;
    top: 70px; /* Sesuaikan dengan tinggi navbar */
    width: 100%;
    background-color: #E6C7AB; /* Atau warna lain yang diinginkan */
    z-index: 999; /* Pastikan menu di bawah navbar tapi di atas konten lain */
}

body {
    padding-top: 70px; /* sesuaikan dengan tinggi navbar */
}

#list-responsive {
    cursor: pointer;
    z-index: 1001; /* Pastikan toggle icon di atas elemen lain */
}

/* Ukuran font untuk navbar */
#desktop-menu a, 
#mobile-menu a {
    font-size: 1.2rem; /* Atau ukuran lain yang Anda inginkan */
}

@media screen and (max-width: 768px) {
    #desktop-menu a {
        font-size: 1rem; /* Ukuran lebih kecil untuk perangkat kecil */
    }
    #mobile-menu a {
        font-size: 1.2rem; /* Ukuran yang lebih besar untuk mobile */
    }
}

/* Tambahkan jarak antar elemen navbar di desktop */
#desktop-menu li {
    margin: 0 10px; /* Sesuaikan dengan jarak yang Anda inginkan */
}

#desktop-menu a {
    display: block; /* Pastikan link ditampilkan sebagai block untuk penerapan margin */
    padding: 10px 0; /* Sesuaikan padding untuk memperbaiki tampilan vertikal */
}
