#list-responsive {
    display: none;
}
.active {
    font-weight: bold;
    color: #243B3B;
}
@media screen and (max-width: 768px) {
    #list-responsive {
        display: block;
    }
    #desktop-menu {
        display: none;
    }
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* pastikan navbar di atas elemen lain */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* opsional: tambahkan bayangan */
}

#mobile-menu {
    position: fixed;
    top: 70px; /* Sesuaikan dengan tinggi navbar */
    width: 100%;
    background-color: #E6C7AB; /* Atau warna lain yang diinginkan */
    z-index: 999; /* Pastikan menu di bawah navbar tapi di atas konten lain */
}

body {
    padding-top: 70px; /* sesuaikan dengan tinggi navbar */
}

#list-responsive {
    cursor: pointer;
    z-index: 1001; /* Pastikan toggle icon di atas elemen lain */
}
